<p id="notice"><%= notice %></p>

<%= render @client %>

<h1>Edit Note</h1>

<%= form_for([@client, @note]) do |f| %>
  <div class="field">
    <%= f.label :content, "Create Note" %><br />
    <%= f.text_area :content, :rows=> 10, :cols=>60 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
