<p id="notice"><%= notice %></p>

<%= render @client %>

<h2>Notes</h2>

<%= render :partial=>'notes/new_note_form' %>

<%= render :partial=>'search_note_form' %>

<%= render @notes %>

<%= will_paginate @notes %>
