<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Ph:</b>
  <%= @client.ph %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>Description:</b>
  <%= @client.description %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %> <br />

<h2>Notes</h2>

<%= form_for([@client, @client.notes.build]) do |f| %>
  <div class="field">
    <%= f.label :content, "Create Note" %><br />
    <%= f.text_area :content, :rows=> 10, :cols=>60 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render @client.notes %>

