<!DOCTYPE html>
<html>
<head>
  <title>ClientTrack</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<content>
	<div class="stuff">
		<nav>
			<ul>
				<li><%= link_to "Clients", clients_path %></li>
				<li><%= link_to "New Client", new_client_path %></li>
			</ul>
			
			<%= form_tag({:action=>:search, :controller=>:home}, :method=>:get, :id=>"global_search") do %>
				<%= text_field_tag :s %> <%= submit_tag "Search" %>
			<% end %>
		</nav>
		<div class="yield"><%= yield %></div>
	</div>
</content>
</body>
</html>
