<!DOCTYPE html>
<html>
<head>
  <title>ClientTrack</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<content>
	<div class="stuff">
		<nav>
			<ul>
				<li><%= link_to "Clients", clients_path %></li>
				<li><%= link_to "New Client", new_client_path %></li>
			</ul>
		</nav>
		<%= yield %>
	</div>
</content>
</body>
</html>
